<footer>
  <div class="container">
    <div class="row">
      <div class="col" id="company">
        <img src="images/logo.png" alt="" class="logo" />
        <p>
          Unlock the security of your smart contracts with our comprehensive
          verification services. Ensure the integrity and reliability of your
          code by entrusting it to our expert team
        </p>
        <div class="social">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col" id="services">
        <h3>Services</h3>
        <div class="links">
          <a href="#" routerLink="/transaction">Transactions</a>
          <a href="#" routerLink="/contract">Smart Contract</a>
          <a href="#" routerLink="/profile">Profile</a>
        </div>
      </div>

      <div class="col" id="useful-links">
        <h3>Links</h3>
        <div class="links">
          <a href="#"  routerLink="/home">About</a>
<br>          <a href="#" routerLink="/help">Help</a>
        </div>
      </div>

      <div class="col" id="contact">
        <h3>Contact</h3>
        <div class="contact-details">
          <i class="fa fa-location"></i>
          <p>
            FF-42, Procube Avenue, <br />
            NY, USA
          </p>
        </div>
        <div class="contact-details">
          <i class="fa fa-phone"></i>
          <p>+1-8755856858</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<p class="text text-base">&copy; 2024 SMART CONTRACT, vermeg</p>
