
<br><br><div *ngIf="user">
    <div class="user-form">
      <h2>Edit User</h2>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="user.username" />
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="user.email" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="user.password" />
      </div>
      <div>
        <button (click)="updateUser()">Save</button>
      </div>
    </div>
  </div>
  
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

