/* Style pour chaque message individuel */
.message {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .message p {
    margin: 0;
  }
  
  .message p strong {
    font-weight: bold;
    color: rgb(8, 112, 240);
  }
  
  /* Style pour la liste de messages */
  .messages-list {
    margin-top: 20px;
  }
  